<div fxLayout='row wrap'>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
        <a [routerLink]="['/products/women']">
            <div class="overlay-wrap">
                <a class="p-link" href="javascript:void(0)">
                    <img class="w-100" src="assets/images/05.jpg" width="640" height="430" alt="Sale Call In Action">
                </a>
                <div class="overlay-content primary-rgba">
                    <div>
                        <h2>折扣</h2>
                        <h5>红富士</h5>
                        <h3>五折</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
        <a [routerLink]="['/products']">
            <div class="overlay-wrap">
                <a class="p-link" href="javascript:void(0);">
                    <!--<img class="w-100" src="assets/images/03.jpg" style="display:inline-block; width: 640px;height: 430px;" width="640" height="430" alt="Sale Call In Action">-->
                    <img class="w-100" src="assets/images/07.jpg" height="430" alt="Sale Call In Action">
                </a>
                <div class="overlay-content black-rgba">
                    <div>
                        <h6>热销</h6>
                        <h2>三文鱼</h2>
                        <h5>新鲜</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
        <a [routerLink]="['/products/men']">
            <div class="overlay-wrap">
                <a class="p-link" href="javascript:void(0)">
                    <!--<img class="w-100" src="assets/images/02.jpg" width="640" height="430" alt="Sale Call In Action">-->
                    <img class="w-100" src="assets/images/02.jpg" width="640" height="430" alt="Sale Call In Action">
                </a>
                <div class="overlay-content pink-rgba">
                    <div>
                        <h2>热销</h2>
                        <h5>三文鱼</h5>
                        <h3>新鲜</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
