<mat-sidenav-container class="h-100">
    <div class="h-100" fxLayout="row" fxLayoutAlign="center center">
        <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="mat-elevation-z6" fxFlex="90" fxFlex.gt-sm="30"
              fxFlex.sm="60">
            <!--
                        <app-content-header
                            [icon]="'exit_to_app'"
                            [title]="'Login'"
                            [hideBreadcrumb]="true"
                            [hasBgImage]="true"
                            [class]="'py-4'">
                        </app-content-header> -->


            <div class="p-3">
                <a class="w-100" color="accent" mat-button routerLink="/register">Don't have an account? Sign up
                    now!</a>
                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>mail</mat-icon>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>lock</mat-icon>
                    <input formControlName="password" matInput placeholder="Password">
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum
                        of 6 characters
                    </mat-error>
                </mat-form-field>
                <mat-slide-toggle class="my-2" formControlName="rememberMe">Keep me signed in</mat-slide-toggle>
                <button class="mat-elevation-z6 w-100 mt-3" color="primary" mat-raised-button type="submit">SIGN IN
                </button>
            </div>

        </form>
    </div>
</mat-sidenav-container>
