<p>
    ngx-table works!
</p>

<app-content-header
        [class]="'pb-4'"
        [hasBgImage]="true"
        [hideBreadcrumb]="false"
        [icon]="'view_array'"
        [title]="'NGX DataTable'"></app-content-header>

<div class="p-2" fxLayout="column">
    <div class="p-2">
        <div class="mat-elevation-z8" fxLayout="column">
            <mat-form-field class="px-3 py-1">
                <input (keyup)="updateFilter($event)" matInput placeholder="Type to filter the name column...">
            </mat-form-field>
        </div>
        <ngx-datatable
            #table
            (activate)="onActivate($event)"
            (select)='onSelect($event)'
            [columnMode]="'force'"
            [footerHeight]="50"
            [headerHeight]="50"
            [limit]="10"
            [loadingIndicator]="loadingIndicator"
            [rowHeight]="'auto'"
            [rows]="rows"
            [selected]="selected"
            [selectionType]="'checkbox'"
            class="material">
            <ngx-datatable-column
                    [canAutoResize]="false"
                    [checkboxable]="true"
                    [draggable]="true"
                    [headerCheckboxable]="true"
                    [resizeable]="false"
                    [sortable]="false"
                    [width]="30">
            </ngx-datatable-column>
            <ngx-datatable-column name="Name">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <span
                        (dblclick)="editing[rowIndex + '-name'] = true"
                        *ngIf="!editing[rowIndex + '-name']"
                        title="Double click to edit">
                  {{value}}
                </span>
                    <input
                            (blur)="updateValue($event, 'name', rowIndex)"
                            *ngIf="editing[rowIndex+ '-name']"
                            [value]="value"
                            autofocus
                            type="text"
                    />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Gender">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <span
                        (dblclick)="editing[rowIndex + '-gender'] = true"
                        *ngIf="!editing[rowIndex + '-gender']"
                        title="Double click to edit">
                  {{value}}
                </span>
                    <select
                            (change)="updateValue($event, 'gender', rowIndex)"
                            *ngIf="editing[rowIndex + '-gender']"
                            [value]="value">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Company">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
