.chip {
  //background-color: #35ff13;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 17px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
