<ngx-slick-carousel [config]="slideConfig" class="carousel">
    <div *ngFor="let item of homePageOneSlideData" ngxSlickItem>
        <div class="bannerStyle slider-img-2">
            <div class="ngx-slider-content">
                <div class="ngx-slider-inner">
                    <h2>{{item.theTitle}}</h2>
                    <h1>{{item.des}}</h1>
                    <button [routerLink]="[item.to]" color="accent" mat-raised-button>Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div ngxSlickItem>-->
    <!--<div class="bannerStyle slider-img-2">-->
    <!--<div class="ngx-slider-content">-->
    <!--<div class="ngx-slider-inner">-->
    <!--<h2>50% Off</h2>-->
    <!--<h1>Men's Winter Collection</h1>-->
    <!--<button color="accent" mat-raised-button [routerLink]="['/products/men']">Shop Now</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ngxSlickItem>-->
    <!--<div class="bannerStyle slider-img-3">-->
    <!--<div class="ngx-slider-content">-->
    <!--<div class="ngx-slider-inner">-->
    <!--<h2>Today's Special</h2>-->
    <!--<h1>Sale On Jackets</h1>-->
    <!--<button color="accent" mat-raised-button [routerLink]="['/products/men']">Shop Now</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</ngx-slick-carousel>
