<mat-toolbar class="header-v3">
    <mat-toolbar-row class="header-v3-top">
        <div class="container">
            <div class="w-100" fxLayout="row wrap">
                <div fxFlex.lg="33%" fxFlex.md="33%" fxFlex.xl="33%" header-v3-top-site>
                    <div class="header-v3-top-tools">
                        <span>Welcome to our store</span>
                        <embryo-LanguageDropDown></embryo-LanguageDropDown>
                        <embryo-CurrencyDropDown (selectedCurrency)="selectedCurrency($event)"
                                                 [selectedValue]="embryoService?.currency"></embryo-CurrencyDropDown>
                    </div>
                </div>
            </div>
            <div fxFlex.lg="33%" fxFlex.md="50" fxFlex.sm="60" fxFlex.xl="33%" fxFlex.xs="60">
                <span fxFlex></span>
                <div class="list-flex user-tool header-v3-top-tools">
                    <embryo-HeaderCart (removeProductData)="openConfirmationPopup($event)"
                                       [cartProducts]="embryoService?.localStorageCartProducts"
                                       [count]="embryoService?.navbarCartCount"
                                       [currency]="embryoService?.currency"></embryo-HeaderCart>

                    <embryo-WishList (addAllWishlistToCart)="addAllWishlistToCart($event)"
                                     (addToCart)="addToCart($event)"
                                     (removeWishListData)="openWishlistConfirmationPopup($event)"
                                     [count]="embryoService?.navbarWishlistProdCount"
                                     [currency]="embryoService?.currency"
                                     [wishListProducts]="embryoService?.localStorageWishlist"></embryo-WishList>

                    <embryo-HeaderUserProfileDropdown></embryo-HeaderUserProfileDropdown>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-v3-middle">
        <div class="container">
            <div class="w-100" fxLayout="row wrap" fxLayoutAlign="space-between">
                <div class="logo-site" fxFlex.lg="33%" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="33%" fxFlex.xs="100">
                    <img alt="" src="assets/images/logo-dark.png" width="224">
                </div>
                <div fxFlex.lg="40%" fxFlex.md="50" fxFlex.xl="33%" fxShow.sm="false" fxShow.sm="false"
                     fxShow.xs="false">
                    <form>
                        <input placeholder="Search" type="text">
                        <button mat-fab type="button">
                            <i class="material-icons">search</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-v3-bottom">
        <div class="container">
            <div class="header-v1-bottom-inner">
                <embryo-Menu></embryo-Menu>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="responsive-bar relative">
        <div class="container">
            <div fxLayoutAlign="space-between">

                <button (click)="toggleSidebar()" class="responsive-toggle" mat-icon-button>
                    <i class="material-icons">menu</i>
                </button>
                <div>
                    <div class="search-box-bar">
                        <button (click)="toggleSearch()" mat-mini-fab type="button">
                            <i class="material-icons notranslate">
                                search
                            </i>
                        </button>
                    </div>
                    <div class="search-form">
                        <form>
                            <input placeholder="Search and hit enter" type="text">
                            <button (click)="toggleSearch()" class="close-btn" mat-fab type="button">
                                <i class="material-icons">
                                    close
                                </i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<embryo-FixedHeader></embryo-FixedHeader>