<embryo-PageTitle heading="About Us" subHeading="Creative team and wide goals."></embryo-PageTitle>
<div class="inner-container">
    <div class="about-page">
        <div *ngIf="aboutInfo" class="about-info bg-white section-gap">
            <embryo-AboutInfo [data]="aboutInfo"></embryo-AboutInfo>
        </div>
        <div *ngIf="missionVisionData && missionVisionData.length>0" class="about-alt-section bg-grey section-gap">
            <embryo-MissionVision [data]="missionVisionData"></embryo-MissionVision>
        </div>
        <div *ngIf="testimonialData" class="testimonail-v2 text-center section-gap">
            <embryo-Testimonial [data]="testimonialData"></embryo-Testimonial>
        </div>
        <div *ngIf="teamData && teamData.length>0" class="team-section text-center section-gap bg-grey">
            <div class="container">
                <div class="block-title text-center">
                    <h2>Meet Our Crew</h2>
                </div>
                <embryo-Team [data]="teamData" class="col-gap" fxLayout="row wrap"
                             fxLayoutAlign="center center"></embryo-Team>
            </div>
        </div>
        <div class="about-contact-form bg-white">
            <div class="col-stretch" fxLayout="row wrap" fxLayoutAlign="center center">
                <div class=" about-contact-bg" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50"
                     fxFlex.xs="100">
                </div>
                <div class="p-5" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50" fxFlex.xs="100">
                    <div class="about-cobtact-form-inner">
                        <div class="block-title ">
                            <h2>Write to Us</h2>
                        </div>
                        <embryo-ContactForm>
                        </embryo-ContactForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
