<embryo-PageTitle heading="Privacy Policy" subHeading="Your information is fully secure with us."></embryo-PageTitle>
<div *ngIf="privacyPolicyData && privacyPolicyData.length>0" class="inner-container section-gap bg-white">
    <div class="container">
        <div class="privacy-page">
            <mat-card *ngFor="let privacyPolicy of privacyPolicyData" class="mb-5">
                <h4 *ngIf="privacyPolicy?.name" class="mb-3">
                    {{privacyPolicy?.name}}
                </h4>
                <p [innerHTML]="privacyPolicy?.content"></p>
            </mat-card>
        </div>
    </div>
</div>
