<embryo-PageTitle heading="Terms and Conditions"
                  subHeading="Please read and contact with if you have some issue."></embryo-PageTitle>
<div *ngIf="termContions && termContions.length >0" class="inner-container section-gap bg-white">
    <div class="container">
        <div class="tnc-page">
            <mat-card *ngFor="let termcondition of termContions" class="mb-5">
                <h4 *ngIf="termcondition?.name" class="mb-3">
                    {{termcondition?.name}}
                </h4>
                <div [innerHTML]="termcondition?.content">
                </div>
            </mat-card>
        </div>
    </div>
</div>
