<p>
	update-password works!
</p>

<mat-sidenav-container class="h-100">
	<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">

			<div class="p-4">
				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
					<input matInput placeholder="Current password" formControlName="oldPassword" type="password" minlength="6">
					<mat-error *ngIf="form.controls.oldPassword.errors?.required">Current password is required</mat-error>
					<mat-error *ngIf="form.controls.oldPassword.hasError('invalidInfo')">{{form.controls.oldPassword.errors['invalidInfo']}}</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
					<input matInput placeholder="New password" formControlName="newPassword" type="password" minlength="6">
					<mat-error *ngIf="form.controls.newPassword.errors?.required">New password is required</mat-error>
					<mat-error *ngIf="form.controls.newPassword.hasError('invalidInfo')">{{form.controls.newPassword.errors['invalidInfo']}}</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
					<input matInput placeholder="Confirm New password" formControlName="confirmPassword" type="password">
					<mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm New password is required</mat-error>
					<mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
				</mat-form-field>

				<button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">Update password</button>
			</div>
		</form>
	</div>
</mat-sidenav-container>
