<div class="section-gap overlay-section pb-0">
    <div class="container">
        <div class="col-gap feature-section-v2" fxLayout="row wrap">
            <div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xl="33" fxFlex.xs="100">
                <mat-card>
                    <div class="feature-section-v2-list" fxLayoutAlign="space-between">
                        <button color="primary" mat-fab><i class="material-icons">
                            shopping_cart
                        </i></button>
                        <div class="ml-4 feature-section-v2-content">
                            <h4 class="mb-2 font-bold">Free Shipping</h4>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xl="33" fxFlex.xs="100">
                <mat-card>
                    <div class="feature-section-v2-list" fxLayoutAlign="space-between">
                        <button color="primary" mat-fab><i class="material-icons">
                            thumb_up
                        </i></button>
                        <div class="ml-4 feature-section-v2-content">
                            <h4 class="mb-2 font-bold">24X7 Support</h4>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xl="33" fxFlex.xs="100">
                <mat-card>
                    <div class="feature-section-v2-list" fxLayoutAlign="space-between">
                        <button color="primary" mat-fab><i class="material-icons">
                            whatshot
                        </i></button>
                        <div class="ml-4 feature-section-v2-content">
                            <h4 class="mb-2 font-bold">Best Price</h4>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>