<p>
	products works!
</p>


<mat-sidenav-container class="h-100">
	<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">

			<div class="p-4">

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Name of this product" formControlName="name">
					<mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
					<!-- <mat-error *ngIf="form.controls.name.hasError('minlength')">Name isn't long enough, minimum of 4 characters</mat-error> -->
					<!-- <mat-error *ngIf="form.controls.name.hasError('invalidName')">Name 包含特殊字符</mat-error> -->
					<mat-error *ngIf="form.controls.name.hasError('invalidInfo')">{{form.controls.name.errors['invalidInfo']}}</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Introduction of this product" formControlName="introduction">
					<mat-error *ngIf="form.controls.introduction.errors?.required">introduction is required</mat-error>

				</mat-form-field>


				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Price of this product" formControlName="price">
					<mat-error *ngIf="form.controls.price.errors?.required">price is required</mat-error>
					<mat-error *ngIf="form.controls.price.hasError('minlength')">price isn't long enough, minimum of 3 characters</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Certificate authority name" formControlName="ca">
					<mat-error *ngIf="form.controls.ca.errors?.required">formControlName is required</mat-error>
					<mat-error *ngIf="form.controls.ca.hasError('minlength')">formControlName isn't long enough, minimum of 3 characters</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Qualification certificate id" formControlName="certId">
					<mat-error *ngIf="form.controls.certId.errors?.required">certId is required</mat-error>
					<mat-error *ngIf="form.controls.certId.hasError('minlength')">certId isn't long enough, minimum of 3 characters</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
					<input matInput placeholder="Max delivery hours allowed of this product" formControlName="maxDeliveryHours">
					<mat-error *ngIf="form.controls.maxDeliveryHours.errors?.required">maxDeliveryHours is required</mat-error>
					<mat-error *ngIf="form.controls.maxDeliveryHours.hasError('minlength')">maxDeliveryHours isn't long enough, minimum of 3 characters</mat-error>
				</mat-form-field>

				<button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">Create</button>
			</div>
		</form>
	</div>
</mat-sidenav-container>
