<div *ngIf="singleProduct" class="col-gap" fxLayout='row wrap'>
    <div fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50" fxFlex.xs="100">
        <div class="detail-thumb text-center">
            <mat-grid-list cols="1" rowHeight="1:1">
                <mat-grid-tile>
                    <a [routerLink]="['/products', singleProduct?.type, singleProduct?.id]" class="p-link">
                        <img [src]="singleProduct?.image" alt="Deal Of The Day" height="800" width="626">
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50" fxFlex.xs="100">
        <div class="detail-content mb-5">
            <h2 class="font-normal">Deal of the day</h2>
            <h5 class="font-normal">{{singleProduct?.name}}</h5>
            <p>
                <del class="mr-2">{{singleProduct?.price | currency:currency}}</del>
                <span class="accent-color">Now Only {{singleProduct?.discount_price | currency:currency}}</span>
            </p>
            <p>{{singleProduct?.description}}</p>

            <embryo-TimerCountDown [dateTime]="counterDateTime"></embryo-TimerCountDown>
            <div>
                <button [routerLink]="['/products', singleProduct?.type, singleProduct?.id]" color="accent"
                        mat-raised-button>Shop Now
                </button>
            </div>
        </div>
        <mat-grid-list class="mat-gallery-grid" cols="3" gutterSize="20px" rowHeight="1:1">
            <ng-container *ngFor="let path of singleProduct?.image_gallery; let i=index">
                <ng-container *ngIf="i < 3">
                    <mat-grid-tile [ngClass]="{ 'border-active': i === 0 }" class="selected_img" id="{{i}}_img">
                        <a (click)="getOfferImagePath(path, i)" class="p-link" href="javascript:void(0)">
                            <img alt="deal of the day grid" alt="" height="800" src="{{path}}" width="626">
                        </a>
                    </mat-grid-tile>
                </ng-container>
            </ng-container>
        </mat-grid-list>
    </div>
</div>
