<div (scroll)="onScrollEvent($event)" [dir]="isRtl">
    <mat-sidenav-container>
        <mat-sidenav #sidenav [(opened)]="embryoService.sidenavOpen" class="sidebar-area" mode="over">
            <mat-nav-list>
                <div class="close-btn-sidebar">
                    <a (click)="embryoService.sidenavOpen = false" href="javascript:void(0)">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                </div>
                <embryo-SidebarMenu *ngFor="let item of menuItems.getMainMenu()" [item]="item"></embryo-SidebarMenu>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav #paymentSidenav [(opened)]="embryoService.paymentSidenavOpen" class="em-sidebar" mode="over"
                     position="end">
            <embryo-PaymentDetailSideBar></embryo-PaymentDetailSideBar>
        </mat-sidenav>
        <div class="rtl-layout"><a (click)="changeDirection()" class="text-xl" href="javascript:void(0);">RTL</a></div>
        <ngx-toasta></ngx-toasta>
        <HeaderOne *ngIf="this.currentUrl != '/home-two' && this.currentUrl != '/home-three'"></HeaderOne>
        <HeaderTwo *ngIf="this.currentUrl == '/home-two' && this.currentUrl != '/home-three'"></HeaderTwo>
        <HeaderThree *ngIf="this.currentUrl != '/home-two' && this.currentUrl == '/home-three'"></HeaderThree>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
        <FooterOne></FooterOne>
    </mat-sidenav-container>
</div>
