<div class="inner-container">
  <div class="bg-white final-receipt-page section-gap">
    <div class="account-info">
      <div class="container">
        <div>
          <div fxLayoutAlign="flex-start">
            <div class="login-user-img">
              <!--<img src="assets/images/user-4.jpg" width="70" alt="Active User">-->
            </div>
            <div class="px-3">
              <!--<h4>Hi, John Doe</h4>-->
              <!--<div class="text-muted text-xl">johndoe@deo.com</div>-->
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="25" fxFlex.xl="25" class="user-nav-list">
            <mat-list role="list">
              <mat-list-item role="listitem"> <a [routerLink]="['/account/profile']" routerLinkActive="tab-active">
                <i class="material-icons">account_circle</i>
                <span> 用户信息</span> </a></mat-list-item>
              <mat-list-item role="listitem"> <a [routerLink]="['/account/order-history']" routerLinkActive="tab-active">
                  <i class="material-icons">history</i>
                  <span> 历史订单</span> </a></mat-list-item>
              <mat-list-item role="listitem"> <a [routerLink]="['/account/profile/edit']" [queryParams]="{type:'info'}" routerLinkActive="tab-active">
                  <span><i class="material-icons">
                      account_circle
                    </i> 修改密码</span> </a></mat-list-item>
              <mat-list-item role="listitem"> <a [routerLink]="['/account/address']" routerLinkActive="tab-active"><i
                    class="material-icons">
                    location_on
                  </i> <span>我的地址</span> </a></mat-list-item>
              <!--<mat-list-item role="listitem"> <a [routerLink]="['/account/cards']" routerLinkActive="tab-active"><i-->
                    <!--class="material-icons">-->
                    <!--credit_card-->
                  <!--</i> <span>Saved Cards</span> </a></mat-list-item>-->
            </mat-list>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="75" fxFlex.xl="75" class="user-content-wrapper">
            <div class="tab-container">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
