/*
// angular.json => "styles"
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~angular-calendar/css/angular-calendar.css';
@import '~dragula/dist/dragula.min.css';

// 原 styles.component.scss 开始

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



@import "./bodypage/theme/styles/base";
@import "./bodypage/theme/styles/spaces";
@import "./bodypage/theme/styles/libs-override";
@import "./bodypage/theme/styles/theme";
@import "./bodypage/theme/styles/gradients";
@import "./bodypage/theme/styles/rtl";

// 原 styles.component.scss 结束
*/

// 原 app.component.scss 开始


#app-spinner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.5s, opacity 0.3s linear;
  -moz-transition: visibility 0.5s, opacity 0.3s linear;
  transition: visibility 0.5s, opacity 0.3s linear;

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  h4 {
    margin-top: 10px;
    letter-spacing: 0.02em;
    opacity: 0;
    text-transform: uppercase;
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
  }

  img.animated-logo {
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
  }
}


@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  100% {
    -o-transform: rotate(360deg);
  }
}


@keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}


// 原 app.component.scss 结束


// 原 pages.component.scss 开始



@import "./bodypage/theme/styles/variables";


.top-toolbar {
  position: relative;
  height: $top-toolbar-height;
  z-index: 1;
}

.pin {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
}

.sidenav {
  width: $sidenav-width;
  overflow: hidden;
  border: none !important;
}

// .header{
//     position: relative;
//     z-index: 2;
//     transition: 0.3s;
//     &.over{
//         z-index: 99;
//     }
// }

// .search-bar{
//     form{
//         input{
//             height: 28px;
//             border: none;
//             padding: 0;
//             border-radius: 15px;
//             outline: none;
//             color: #444;
//             width: 0;
//             overflow: hidden;
//             transition: 0.3s;
//             &.show{
//                padding: 0 8px;
//                width: 250px;
//             }
//         }
//     }
// }

// .footer{
//     height: $footer-toolbar-height;
//     position: relative;
//     z-index: 3;
// }


.options {
  position: fixed;
  width: $sidenav-width;
  z-index: 999999;

  .op-header {
    height: $top-toolbar-height;
    padding: 0 14px;
  }

  .control {
    padding: 6px 14px;

    div {
      padding: 6px 0;
    }

    h4 {
      border-bottom: 1px solid #ccc;
      margin: 12px 0 6px 0;
    }

    .skin-primary {
      width: 46px;
      height: 46px;
      padding: 0;
      overflow: hidden;
      cursor: pointer;

      .skin-secondary {
        width: 0;
        height: 0;
        padding: 0;
        border-bottom: 46px solid;
        border-left: 46px solid transparent;
      }

      &.indigo-light {
        background-color: #3F51B5;
        border: 1px solid #3F51B5;

        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }

      &.teal-light {
        background-color: #009688;
        border: 1px solid #009688;

        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }

      &.red-light {
        background-color: #F44336;
        border: 1px solid #F44336;

        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }

      &.gray-light {
        background-color: #757575;
        border: 1px solid #757575;

        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }

      &.blue-dark {
        background-color: #0277bd;
        border: 1px solid #0277bd;

        .skin-secondary {
          border-bottom-color: #262626;
        }
      }

      &.green-dark {
        background-color: #388E3C;
        border: 1px solid #388E3C;

        .skin-secondary {
          border-bottom-color: #262626;
        }
      }

      &.pink-dark {
        background-color: #D81B60;
        border: 1px solid #D81B60;

        .skin-secondary {
          border-bottom-color: #262626;
        }
      }

      &.gray-dark {
        background-color: #607D8B;
        border: 1px solid #607D8B;

        .skin-secondary {
          border-bottom-color: #262626;
        }
      }
    }
  }

  .mat-radio-group {
    display: inline-flex;
    flex-direction: column;

    .mat-radio-button {
      margin: 2px 0;
    }
  }

  .mat-slide-toggle {
    height: auto;
  }

  .ps {
    height: calc(100% - #{$top-toolbar-height});
  }
}

.op-image {
  box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.options-icon {
  position: fixed;
  top: 120px;
  right: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  cursor: pointer;
  z-index: 99999;

  .mat-icon {
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 999999;
  right: 20px;
  bottom: 20px;
  opacity: .5;
  color: #fff;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }
}


// 原 pages.component.scss 结束


// 原 xxxxx.component.scss 开始
