<!-- <p>
    llzw-app works!
</p> -->

<div class="llzwbody" id="llzwbody">

    <div [class.compact]="settings.menuType == 'compact'" [class.fixed-footer]="settings.fixedFooter"
         [class.fixed-header]="settings.fixedHeader" [class.fixed-sidenav]="settings.fixedSidenav"
         [class.horizontal-menu]="settings.menu == 'horizontal'" [class.mini]="settings.menuType == 'mini'"
         [dir]="(settings.rtl) ? 'rtl' : 'ltr'" [ngClass]="settings.theme"
         class="app" id="app">


        <div (psScrollY)="onPsScrollY($event)" class="h-100" id="main" perfectScrollbar>


            <mat-drawer-container class="page-wrapper">

                <mat-drawer #sidenav (closedStart)="showSidenav = !showSidenav"
                            (openedStart)="showSidenav = !showSidenav"
                            *ngIf="settings.menu == 'vertical'"
                            [mode]="(settings.sidenavIsPinned) ? 'side' : 'over'"
                            [opened]="settings.sidenavIsOpened" autoFocus="false"
                            class="sidenav mat-elevation-z6">
                    <mat-toolbar *ngIf="settings.fixedSidenav" class="top-toolbar">
                        <a class="logo" fxLayout="row" fxLayoutAlign="start center" routerLink="/">
                            <img [@rotate]="showSidenav" alt="logo" src="assets/llzw_annular/img/logo.png">
                            <span class="mx-2">ANNULAR</span>
                        </a>
                    </mat-toolbar>
                    <app-sidenav></app-sidenav>
                </mat-drawer>

                <mat-drawer-content>

                    <mat-toolbar *ngIf="settings.menu == 'horizontal'" class="horizontal-menu px-0">
                        <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
                            <app-horizontal-menu [class.w-100]="(settings.menuType!='mini')" [menuParentId]="0">
                            </app-horizontal-menu>
                        </div>
                    </mat-toolbar>
                    <router-outlet></router-outlet>

                </mat-drawer-content>

                <mat-drawer #options class="options" position="end">
                    <div class="op-header mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
                        <h2>Settings</h2>
                        <button (click)="options.toggle()" class="ml-2" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <div [perfectScrollbar]="optionsPsConfig">
                        <div class="control" fxLayout="column">
                            <h4>Layout</h4>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Fixed header</span>
                                <mat-slide-toggle (change)="settings.fixedHeader = !settings.fixedHeader"
                                                  [checked]="settings.fixedHeader"
                                                  labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Fixed sidenav</span>
                                <mat-slide-toggle (change)="settings.fixedSidenav = !settings.fixedSidenav"
                                                  [checked]="settings.fixedSidenav"
                                                  [disabled]="menuOption == 'horizontal'"
                                                  labelPosition="before"></mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Fixed footer</span>
                                <mat-slide-toggle (change)="settings.fixedFooter = !settings.fixedFooter"
                                                  [checked]="settings.fixedFooter"
                                                  labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>RTL</span>
                                <mat-slide-toggle (change)="settings.rtl = !settings.rtl" [checked]="settings.rtl"
                                                  labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="control" fxLayout="column">
                            <h4>Choose menu</h4>
                            <mat-radio-group (change)="chooseMenu()" [(ngModel)]="menuOption">
                                <mat-radio-button *ngFor="let menu of menus" [value]="menu">{{menu}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="control" fxLayout="column">
                            <h4>Choose menu type</h4>
                            <mat-radio-group (change)="chooseMenuType()" [(ngModel)]="menuTypeOption">
                                <mat-radio-button *ngFor="let menuType of menuTypes" [value]="menuType">{{menuType}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="control" fxLayout="column">
                            <h4>Choose theme skin</h4>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div (click)="changeTheme('indigo-light')" class="skin-primary indigo-light">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('teal-light')" class="skin-primary teal-light">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('red-light')" class="skin-primary red-light">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('gray-light')" class="skin-primary gray-light">
                                    <div class="skin-secondary"></div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div (click)="changeTheme('blue-dark')" class="skin-primary blue-dark">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('green-dark')" class="skin-primary green-dark">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('pink-dark')" class="skin-primary pink-dark">
                                    <div class="skin-secondary"></div>
                                </div>
                                <div (click)="changeTheme('gray-dark')" class="skin-primary gray-dark">
                                    <div class="skin-secondary"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control" fxLayout="column">
                            <h4>Sidenav options</h4>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Opened sidenav</span>
                                <mat-slide-toggle (change)="settings.sidenavIsOpened = !settings.sidenavIsOpened"
                                                  [checked]="settings.sidenavIsOpened"
                                                  labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Pinned sidenav</span>
                                <mat-slide-toggle (change)="settings.sidenavIsPinned = !settings.sidenavIsPinned"
                                                  [checked]="settings.sidenavIsPinned"
                                                  labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Fixed sidenav user content</span>
                                <mat-slide-toggle
                                        (change)="settings.fixedSidenavUserContent = !settings.fixedSidenavUserContent"
                                        [checked]="settings.fixedSidenavUserContent"
                                        labelPosition="before">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </mat-drawer>

            </mat-drawer-container>

            <div (click)="options.toggle()" class="options-icon" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>settings</mat-icon>
            </div>

            <div #backToTop (click)="scrollToTop()" class="back-to-top" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>arrow_upward</mat-icon>
            </div>

        </div>


        <!--<mat-spinner color="primary"></mat-spinner> 在 div id="app-spinner" 里面 img 前面 -->

        <div [class.hide]="!settings.loadingSpinner" id="app-spinner">

            <img class="animated-logo" src="assets/llzw_annular/img/logo.png">
            <h4>loading...</h4>
        </div>
    </div>

</div>