<p>
    payment-add works!
</p>

<mat-sidenav-container class="h-100">
    <div class="h-100" fxLayout="row" fxLayoutAlign="center center">

        <!-- <form [formGroup]="paymentForm" (ngSubmit)="onSubmit(paymentForm.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6"> -->

        <form (ngSubmit)="onSubmit()" [formGroup]="paymentForm" class="mat-elevation-z6" fxFlex="90" fxFlex.gt-sm="30"
              fxFlex.sm="60">

            <app-content-header [class]="'py-4'" [hasBgImage]="true" [hideBreadcrumb]="true"
                                [icon]="'exit_to_app'"
                                [title]="'New Payment'">
            </app-content-header>

            <div class="p-3">

                <!-- <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="id" formControlName="id" id="id">
                    <mat-error *ngIf="paymentForm.controls.id.errors?.required">ID is required</mat-error>
                          </mat-form-field> -->

                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>person</mat-icon>
                    <input formControlName="orderId" matInput placeholder="Parent Order ID">
                    <mat-error *ngIf="paymentForm.controls.orderId.errors?.required">OrderId is required</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>person</mat-icon>
                    <input formControlName="subject" matInput placeholder="Subject of this payment">
                    <mat-error *ngIf="paymentForm.controls.subject.errors?.required">ID is required</mat-error>
                </mat-form-field>


                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>person</mat-icon>
                    <input formControlName="totalAmount" matInput placeholder="Total Amount">
                    <mat-error *ngIf="paymentForm.controls.totalAmount.errors?.required">Total Amount is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-icon class="mat-icon-sm mb-2 mr-2 secondary-text-color" matPrefix>person</mat-icon>
                    <input formControlName="description" matInput placeholder="Description">
                </mat-form-field>

                <button class="mat-elevation-z6 w-100 mt-3" color="primary" mat-raised-button type="submit">Create
                </button>

            </div>
        </form>
    </div>
</mat-sidenav-container>
