<p>
	orders works!
</p>

<mat-sidenav-container class="h-100">
	<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">

			<div class="p-4">

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="ID of the product it belongs to" formControlName="product_id">
					<mat-error *ngIf="form.controls.product_id.errors?.required">ID of the product is required</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Quantity of this order" formControlName="quantity">
					<mat-error *ngIf="form.controls.quantity.errors?.required">Quantity of this order is required</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Customer username who creates this order" formControlName="customer_id">
					<mat-error *ngIf="form.controls.customer_id.errors?.required">Customer username is required</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100">
					<mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
					<input matInput placeholder="Destination address ID from address book" formControlName="address_id">
					<mat-error *ngIf="form.controls.address_id.errors?.required">Destination address ID is required</mat-error>
				</mat-form-field>

				<button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">Create</button>
			</div>
		</form>
	</div>
</mat-sidenav-container>
