<div *ngIf="products && products.length > 0" class="col-gap" fxLayout="row wrap" fxLayoutAlign="none">
    <div *ngFor="let product of products; let i=index; trackBy: trackByObjectID" fxFlex.lg="{{lg}}" fxFlex.md="50" fxFlex.sm="50" fxFlex.xl="{{xl}}"
         fxFlex.xs="100">
        <mat-card *ngIf="gridLength && (i<gridLength)" class="example-card">
            <a [routerLink]="['/products', product?.id]" class="p-link">
                <img [src]="embryoService.baseUrl1+'/files/'+product?.mainImageFiles?.slice(0,1)" alt="Photo of a Shiba Inu" height="800"
                     mat-card-image
                     width="626">
            </a>
            <div class="wishlist-icon {{i}}-wishlist">
                <a (click)="productAddToWishlist(product, i+'-wishlist')"><i class="material-icons"> favorite </i></a>
            </div>
            <mat-card-content class="product-content relative">
                <h5><a [routerLink]="['/products', product?.id]" class="title-link">{{product?.name}}</a></h5>
                <div>
                    <div fxFlex fxLayoutAlign="space-between">
                        <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
                        <div class="rating-star">
                            <embryo-Rating [rate]="product.rating"></embryo-Rating>
                        </div>
                    </div>
                </div>
                <div *ngIf="checkCartAlready(product)" class="m-icon">
                    <embryo-AddToCardButton (addToCart)="addToCartProduct($event)"
                                            [product]="product"></embryo-AddToCardButton>
                </div>
                <div *ngIf="!checkCartAlready(product)" class="m-icon">
                    <button [routerLink]="['/products', product?.id]" mat-fab><i
                            class="material-icons">remove_red_eye</i></button>
                </div>

            </mat-card-content>
        </mat-card>
        <!-- Multiple show products grid -->
        <mat-card *ngIf="!gridLength" class="example-card">
            <a *ngIf="product?.id" [routerLink]="['/products', product?.id]" class="p-link">
                <img [src]="embryoService.baseUrl1+'/files/'+product?.mainImageFiles[0]" alt="Photo" height="800"
                     mat-card-image width="626">
            </a>
            <a *ngIf="!product?.id" [routerLink]="['/products/accessories/17']" class="p-link">
                <img (load)="onLoad()" [ngClass]="{ transparent: !loaded }" [src]="embryoService.baseUrl1+'/files/'+product?.mainImageFiles[0]"
                     alt="Photo"
                     height="800" mat-card-image width="626">
            </a>
            <div class="wishlist-icon {{i}}-wishlist">
                <a (click)="productAddToWishlist(product, i+'-wishlist')"><i class="material-icons"> favorite </i></a>
            </div>
            <mat-card-content class="product-content relative">
                <h5><a *ngIf="product?.id" [routerLink]="['/products', product?.id]"
                       class="title-link">{{product?.name}}</a></h5>
                <h5><a *ngIf="!product?.id" [routerLink]="['/products/accessories/17']"
                       class="title-link">{{product?.name}}</a></h5>
                <div>
                    <div fxFlex fxLayoutAlign="space-between">
                        <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
                        <div class="rating-star">
                            <embryo-Rating [rate]="product.rating"></embryo-Rating>
                        </div>
                    </div>
                </div>
                <div *ngIf="checkCartAlready(product)" class="m-icon">
                    <embryo-AddToCardButton (addToCart)="addToCartProduct($event)"
                                            [product]="product"></embryo-AddToCardButton>
                </div>
                <div *ngIf="!checkCartAlready(product)" class="m-icon">
                    <button *ngIf="product?.id" [routerLink]="['/products', product?.id]" mat-fab><i
                            class="material-icons">remove_red_eye</i></button>
                    <button *ngIf="!product?.id" [routerLink]="['/products/accessories/17']" mat-fab><i
                            class="material-icons">remove_red_eye</i></button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>

