<div class="download-app py-2">
    <div class="container text-center">
        <div class="col-gap" fxLayout="row wrap">
            <div class="py-4 download-app-list" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50"
                 fxFlex.xs="100">
                <a href="javascript:void();"><h4 class="mb-0 font-bold"><img alt="16 x 16" class="mr-3"
                                                                             height="22" src="assets/images/apple.png"
                                                                             width="22">
                    Download iOS App </h4></a>
            </div>

            <div class="py-4 download-app-list" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xl="50"
                 fxFlex.xs="100">
                <a href="javascript:void();"><h4 class="mb-0 font-bold"><img alt="16 x 16"
                                                                             class="mr-3"
                                                                             height="22"
                                                                             src="assets/images/android-logo.png"
                                                                             width="22">
                    Download Android App </h4></a>
            </div>
        </div>
    </div>
</div>
