<ng-container *ngIf="data">
    <div *ngFor="let team of data" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xl="33" fxFlex.xs="100">
        <div class="team-card mb-4">
            <img [src]="team.image" alt="team-image" class="round-corner" height="200" width="200">
        </div>
        <h4 class="mb-0">
            {{team.name}}
        </h4>
        <p class="mb-4">{{team.designation}}</p>
        <p class="mb-4">
            {{team.description}}
        </p>
    </div>
</ng-container>
